includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1
    paths:
        - .
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    excludePaths:
        analyseAndScan:
            - vendor
            - node_modules (?)
            - tests (?)
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        # Ignore filter callback return issues (common in WordPress when modifying objects by reference)
        - '#Filter callback return statement is missing#'
